<div id="<%= dom_id ator %>">
  <p>
    <strong>Nome:</strong>
    <%= ator.nome %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= ator.ano %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= ator.e-mail %>
  </p>

</div>
